*{
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/Img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: #fff;
    color: white;
    background-color: rgba(0, 0, 255, 0.76);
    border-radius: 5px;
    font-size: 15px;
}
.stylish{
    color: black;
    font-size: 80px;
}

.p{
    color: black;
    font-size: 40px;
}

.hero2{
    width: 100%;
    height: 100vh;
    background-color: rgb(235, 232, 222);
    font-size: 25px;
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn2{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.portfolio{
    color: black;
    font-size: 100px;
}

.p2{
    color: rgb(0, 0, 0.699);
    font-size: 25px;
}

.hero3{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 110, 255, 0.795);;
    font-size: 15px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.wayne {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    border-radius: 100px;
    gap: 40px;
    flex-direction: row;
}

.p3{
    color: yellow;
    font-size: 25px;
}


.mcmellow  img{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    gap: 20px;
    
  
    
}




.great{
    color: white;
    font-size: 25px;
    
}


.dee{
    color: white;
    font-size: 15px;
    
   
    
    
}
.offer{
    color: white;
}

.hero4{
    width: 100%;
    height: 100vh;
    background-image: url(/Img/portfolio-4.jpg);
    font-size: 30px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn3{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.hero5{
    width: 100%;
    height: 280vh;
    background-color: white;
    font-size: 30px;
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.leo{
    color: rgba(255, 255, 0, 0.74);
    font-size: 30px;
}
.mini{
    color: rgba(0, 0, 0, 0.849);
    font-size: 50px;
}

.wayne2 {
    width: 60%;
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.mcmellow2 {
    position: relative;
    height: 250px;
    overflow: hidden;
}


.mcmellow2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.great2 {
    position: absolute;
    bottom: 100px;
    left: 10px;
    color: rgba(255, 255, 255, 0.767);
    font-size: 20px;
    padding: 10px 14px;
    
    
    
    
}

.dee2 {
    position: relative;
    bottom: 100px;
    left: 10px;
    color: white;
    font-size: 15px;
    padding: 10px 14px;
    
    
}

.she{
    color: rgba(0, 0, 0, 0.849);
    font-size: 40px;
}
.hero6{
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 110, 255, 0.678);
     font-size: 30px;
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cri{
    width: 100%;
    height: 40vh;
    justify-content: center;
    background-position: cover;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: rgb(0, 195, 255);
}

.light{
    padding: 10px;
    background-color: white;
    font-size: 10px;
    border: none;
}

.dark{
    padding: 10px;
    background-color: rgba(17, 15, 15, 0.767);
    color: white;
    font-size: 10px;
    border: none;
}


.footer {
      color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s ease;
}


.social-icons img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #aaa;
}


    
  

.map{
    height: 100vh;
    width: 100%;
}









    
   
    









